<!DOCTYPE html>
<html>
<head>

    <title>Aircraft Explorer</title>

    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet">

</head>

<body class="container mt-4">

    <h1>Live Aircraft Explorer</h1>

    <form method="POST">

        <input
        type="text"
        name="city"
        placeholder="Enter city"
        class="form-control mb-3">

        <button class="btn btn-primary">
            Search
        </button>

    </form>

    {% if map_html %}

        <h2 class="mt-4">Map</h2>

        {{ map_html|safe }}

    {% endif %}

    {% if aircraft_data %}

        <h2 class="mt-4">Aircraft</h2>

        <table class="table">

            <tr>
                <th>Callsign</th>
                <th>Altitude</th>
                <th>Velocity</th>
            </tr>

            {% for aircraft in aircraft_data %}

            <tr>
                <td>{{ aircraft.callsign }}</td>
                <td>{{ aircraft.altitude }}</td>
                <td>{{ aircraft.velocity }}</td>
            </tr>

            {% endfor %}

        </table>

    {% endif %}

    {% if chart %}

        <h2>Chart</h2>

        <img src="{{ chart }}" width="500">

    {% endif %}

</body>
</html>